<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleTypeRole</key>
	<string></string>
	<key>CFBundleURLName</key>
	<string></string>
	<key>CFBundleURLSchemes</key>
	<string></string>
	<key>CODE_SIGN_ALLOW_ENTITLEMENTS_MODIFICATION</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<string>INSendMessageIntent</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
